.icon-grid {
    background-image: url("~@/assets/img/grid_view.svg");
}
.icon-graph {
    background-image: url("~@/assets/img/bid_landscape.svg");
}
.icon-settings {
    background-image: url("~@/assets/img/settings.svg");
}
.icon-clipboard {
    background-image: url("~@/assets/img/assignment_add.svg");
}
.icon-exit {
    background-image: url("~@/assets/img/move_item.svg");
}
.icon-arrow {
    background-image: url("~@/assets/img/keyboard_double_arrow_left.svg");
}
.icon-bell {
    background-image: url("~@/assets/img/bell.svg");
}
.edit-data {
    background-image: url("~@/assets/img/stylus.svg");
}
.add-on {
    background-image: url("~@/assets/img/add_on.svg");
}
.add-off {
    background-image: url("~@/assets/img/add_off.svg");
}
.add-black {
    background-image: url("~@/assets/img/add_black.svg");
}
.check-on {
    background-image: url("~@/assets/img/check_on.svg");
}
.icon-search {
    background-image: url("~@/assets/img/search.svg");
}
.icon-drag {
    background-image: url("~@/assets/img/drag.svg");
}
.icon-options {
    background-image: url("~@/assets/img/options.svg");
}

